## Problem 2: age of bikers for trips originating in Manhattan and in Brooklyn (extra credit)

H0: There is no statistical difference in the age of bikers in Manhattan and Brooklyn

In [3]:
import geopandas as gpd
from geopandas.tools import sjoin
import os
shape_p = gpd.GeoDataFrame.from_file("CitiBike_WGS84.shp")
shape_b = gpd.GeoDataFrame.from_file("geo_export_fb061c37-2dc4-41fb-94f0-cc7e876d4c4e.shp")

In [4]:
pointInPolys = sjoin(shape_p,shape_b, how='left')

In [5]:
pointInPolys.columns

Index(['ID', 'Latitude', 'StatusKey', 'Longitude', 'Address', 'Docks',
       'TestStatio', 'Service', 'StationNam', 'AvailDocks', 'AvailBikes',
       'LastComm', 'Loc', 'Address2', 'geometry', 'index_right', 'boro_code',
       'boro_name', 'shape_area', 'shape_leng'],
      dtype='object')

In [6]:
pointInPolys = pointInPolys.drop(['ID', 'StatusKey', 'Address', 'Docks',
       'TestStatio', 'Service', 'AvailDocks', 'AvailBikes',
       'LastComm', 'Loc', 'Address2', 'geometry', 'index_right', 'shape_area', 'shape_leng'], axis = 1)

In [7]:
pointInPolys.head()

    Latitude  Longitude                     StationNam  boro_code  boro_name
0  40.767272 -73.993929               W 52 St & 11 Ave        1.0  Manhattan
1  40.719116 -74.006667       Franklin St & W Broadway        1.0  Manhattan
2  40.711174 -74.000165         St James Pl & Pearl St        1.0  Manhattan
3  40.683826 -73.976323  Atlantic Ave & Fort Greene Pl        3.0   Brooklyn
4  40.741776 -74.001497                W 17 St & 8 Ave        1.0  Manhattan

In [8]:
file_path = "%s/borough.csv"%os.getenv("PUIDATA")
pointInPolys.to_csv(file_path, index = None, header=True)

In [9]:
!ls $PUIDATA

201502-citibike-tripdata.csv  201508-citibike-tripdata.csv  nyc_pluto_18v1.zip
201502-citibike-tripdata.zip  201508-citibike-tripdata.zip  PLUTO_for_WEB
201503-citibike-tripdata.csv  borough.csv		    time.csv
201503-citibike-tripdata.zip  drinking_water_quaity.csv